.navbar__header {
margin-bottom: 10px;
background-color: #f5f5f5;
margin-bottom: 30px;
}

.navbar__conatiner {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding: 15px;
}

.navbar__content {
    display: flex;
}

.navbar__info{
    flex: 40%;
    display: flex;
    flex-direction: column;
}

.menu__back {
    margin-bottom: 10px;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    text-align: center;
    border: 3px solid;
    padding: 0px 15px;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    height: 35px;
    outline: 0;
    cursor: pointer;
}

.back__link{
    text-decoration: none;
}

.menu_back:hover {
    background-color: #f5f5f5;
}

.navbar__upload {
    display: flex;
}

.navbar__subtile {
    display: flex;
    flex-direction: column;
}

.subtile__text {
    font-size: 18px;
    
}


.menu__btn{
    flex: 60%;
    align-items: stretch;
    margin-right: 20px;
    outline: 0;
    cursor: pointer;
    background-color: #ffffff;
    border: 3px dashed #32a1ce;
    border-radius: 10px;   
    width: 100%;
    position: relative;

}

.file__upload {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    top:30%;
}

.label__file {
    opacity: 0.3;
    text-align: center;
}

.file{
    margin: 5px auto;
}


.upload__icon {
    width: 50px;
    height: 50px;
    background: url('../../image/upload.png') no-repeat center center; 
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.drop__message {
    text-align: center;
    color: #4aa1f3;
    font-family: Arial;
    font-size: 18px;
}

.upload__button {
    margin: 10px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 3px solid #32a1ce;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    outline: 0;
    cursor: pointer;

}

.file__status-bar{
    width: 100%;
    margin: 10px;
    position: relative;
}

.file__atribut {
    display: flex;
}

.file__type-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url('../../image/generic.png') no-repeat center center; 
    background-size: 100%;
}

.file__name {
    display: inline-block;
    color: #4aa1f3;
    font-size: 16px;
}

.file__size {
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    margin-left:10px;
    color: #444242;
    font-weight: 700;
    font-size: 16px;
}

.file__remove  {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    color: red;
    background-color: #ffffff;
    border: none; 
    outline: 0;
    transition: transform .1s linear; /* длительность операции transform */
}

.file__krest {
    font-size: 16px;
    font-weight: 700;
}


@media (max-width:800px){

.subtile__text {
    font-size: 14px;
}

.menu_back {
    font-size: 10px;
}

}



