.header {
    width: 100%;
    background-color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2 );

}

.header__link {
    align-items: center;
    text-align: center;
    text-decoration: none;
}


.header__logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
    
}

