.add__btn {
    margin-left: auto;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    text-align: center;
    border: 3px solid #32a1ce;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    outline: 0;
    cursor: pointer;
}


.add__btn:hover {
    background-color: #f5f5f5;
}

.system__create {
    position: absolute;
    top:40%;
    right: 40%;
    left: 35%;
    z-index: 999;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #CCC;
    background-color: white;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.system__info {
    position: relative;
	color:#000;
	background-color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 0;
}

.system__title {
    font-size: 18px;
}

.system__name {
    border: 1px solid #dddddd;
    margin: 15px;
    background-color: #ffffff;
}

.sys_cl{
    position: absolute;
    top: 0;
    right: 5%;
    background-color: #f5f5f5;
    border: none; 
    font-size: 18px; 
    cursor: pointer; 
    margin-right: 15px;
    outline: 0;
    font-size: 30px;
    transition: transform .1s linear; /* длительность операции transform */
}

.sys_cl:hover{
    
}

.system__close:before, .system__close:after {
    position: absolute;
    top: 7px;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}

li,ul {
    margin: 0;
    padding: 0;
}

.system__close:before {
    transform: rotate(45deg);
}

 .system__close:after {
    transform: rotate(-45deg);
}

.Form__system {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.system__name {
    width: 100%;
    height: 20px;
}


.system__btn {
    width: 60%;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    outline: 0;
    opacity: 0.5;
    text-align: center;
}

.system__btn:hover {
    opacity: 5;
    transition: opacity .4s ease;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }



